.search-input {
  border-radius: 0.5rem;
  border: solid gray 1px;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.w-80vw {
  width: 80vw;
}

.products-table {
  border-collapse: collapse;
  width: 100%;

  thead {
    tr {
      text-align: left;
    }
  }

  th,
  td {
    padding: 1rem;
  }

  tbody {
    tr {
      border-bottom: 1px solid #dddddd;
    }
  }
}

.items-per-page {
  padding: 0.5rem;
  font-size: 1rem;
}

.skeleton-field {
  border-radius: 0.25rem;
  width: 5rem;
  height: 1rem;
  background-color: #dddddd;
}

.shimmer {
  background: linear-gradient(
    90deg,
    #EDEDED 30%,
    #DCDCDC 50%,
    #EDEDED 70%
  );
  background-size: 400%;
  animation: shimmer 1.5s infinite linear;
}
.profile-img{
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.page-btn{
  border: 1px gray solid;
  border-radius: .5rem;
  padding: .5rem;
  transition: all .5s;
}
.page-btn:disabled{
  border: 1px rgb(174, 174, 174) solid;
}
.page-btn:not(:disabled):hover{
  background-color: var(--primary-color);
  transition: all .5s;
}
.page-btn-selected{
  background-color: var(--primary-color);
}
.w-8{
  width: 8rem;
}
.flex-wrap{
  flex-wrap: wrap;
}

@keyframes shimmer {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}