<div >
  <div class="row space-between">
    <input [(ngModel)]="search" #ctrl="ngModel" class="reset-input search-input" type="search" placeholder="Search..."  />
    <button (click)="viewProduct()" class="reset-btn primary-btn">Agregar</button>
  </div>
  <div class="content-bg-color mt-1 p-2 overflow-hidden">
    <div class="overflow-x-scroll w-80vw">
    <table class="products-table bg-aliceblue">
      <thead>
        <tr>
          <th>Logo</th>
          <th class="nowrap">Nombre del producto</th>
          <th class="nowrap">Descripción &#9432;</th>
          <th class="nowrap">Fecha de liberación &#9432; </th>
          <th class="nowrap span-2">Fecha de reestructuración &#9432;</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        @for (product of productsSearch?.slice(0,itemsPerPage); track $index) {
        <tr (click)="viewProduct(product.id)">
          <td> <img [src]="product.logo" [alt]="product.name"> </td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.date_release }}</td>
          <td>{{ product.date_revision }}</td>
          <td (click)="showContextMenu($event,product)" >
            <button class="btn h-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z"
                />
              </svg>
            </button>
          </td>
        </tr>
        }
        @if (loadingProducts) {
          @for (_item of [1,2,3,4]; track $index) {
          <tr>
            <td><div class="skeleton-field shimmer"></div></td>
            <td><div class="skeleton-field shimmer"></div></td>
            <td><div class="skeleton-field shimmer"></div></td>
            <td><div class="skeleton-field shimmer"></div></td>
            <td><div class="skeleton-field shimmer"></div></td>
            <td><div class="skeleton-field shimmer"></div></td>
          </tr>
          }
        }

      </tbody>
    </table>
    </div>

    <app-context-menu #contextMenu>
      <div class="option" (click)="updateProduct()">
        <span>Actualizar</span>
      </div>
      <div class="option" (click)="deleteProduct()">
        <span>Eliminar</span>
      </div>
    </app-context-menu>

    <div class="row space-between items-center">
      @if(productsSearch){
        <p >{{ productsSearch.slice(0,itemsPerPage).length }} resultados</p>
      } @else if(productsRequestError){
        <p>Ocurrio un error al consultar productos</p>
      } @else{
        <p > No se encontraron resultados</p>
      }

      <p>
        <select [(ngModel)]="itemsPerPage" class="items-per-page">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
        </select>
      </p>
    </div>
  </div>


  <app-modal #modal></app-modal>
</div>
