.search-input {
  border-radius: 0.5rem;
  border: solid gray 1px;
}
.products-table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: scroll;
}

.products-table thead tr {
  text-align: left;
}
.products-table th,
td {
  padding: 1rem;
}

.products-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
