<div class="content-bg-color p-2 w-50vw mx-auto" role="form" aria-labelledby="formTitle">
  <h2 id="formTitle" class="text-center">Formulario de Registro</h2>
  <hr />
  
  <form [formGroup]="productForm" (submit)="sendForm()" class="grid grid-cols-2 gap-1" aria-live="polite">
    <div class="input-field">
      <label for="productId">ID</label>
      <input id="productId" class="reset-input" type="text" formControlName="id" aria-required="true" />
      <ng-container *ngIf="productForm.controls.id.invalid && (productForm.controls.id.dirty || productForm.controls.id.touched)">
        <span *ngIf="productForm.controls.id.getError('required')" class="text-red">Campo requerido</span>
        <span *ngIf="productForm.controls.id.getError('minlength')" class="text-red">Longitud mínima es 3</span>
        <span *ngIf="productForm.controls.id.getError('maxlength')" class="text-red">Longitud máxima es 10</span>
        <span *ngIf="productForm.controls.id.hasError('idExist')" class="text-red">El ID ya existe</span>
      </ng-container>
    </div>

    <div class="input-field">
      <label for="productName">Nombre</label>
      <input id="productName" class="reset-input" type="text" formControlName="name" aria-required="true" />
      <ng-container *ngIf="productForm.controls.name.invalid && (productForm.controls.name.dirty || productForm.controls.name.touched)">
        <span *ngIf="productForm.controls.name.getError('required')" class="text-red">Campo requerido</span>
        <span *ngIf="productForm.controls.name.getError('minlength')" class="text-red">Longitud mínima es 5</span>
        <span *ngIf="productForm.controls.name.getError('maxlength')" class="text-red">Longitud máxima es 100</span>
      </ng-container>
    </div>

    <div class="input-field">
      <label for="productDescription">Descripción</label>
      <input id="productDescription" class="reset-input" type="text" formControlName="description" aria-required="true" />
      <ng-container *ngIf="productForm.controls.description.invalid && (productForm.controls.description.dirty || productForm.controls.description.touched)">
        <span *ngIf="productForm.controls.description.getError('required')" class="text-red">Campo requerido</span>
        <span *ngIf="productForm.controls.description.getError('minlength')" class="text-red">Longitud mínima es 10</span>
        <span *ngIf="productForm.controls.description.getError('maxlength')" class="text-red">Longitud máxima es 200</span>
      </ng-container>
    </div>

    <div class="input-field">
      <label for="productLogo">Logo</label>
      <input id="productLogo" class="reset-input" type="text" formControlName="logo" aria-required="true" />
      <ng-container *ngIf="productForm.controls.logo.invalid && (productForm.controls.logo.dirty || productForm.controls.logo.touched)">
        <span *ngIf="productForm.controls.logo.getError('required')" class="text-red">Campo requerido</span>
      </ng-container>
    </div>

    <div class="input-field">
      <label for="productReleaseDate" class="nowrap">Fecha Liberación</label>
      <input id="productReleaseDate" class="reset-input" type="date" formControlName="date_release" aria-required="true" />
      <ng-container *ngIf="productForm.controls.date_release.invalid && (productForm.controls.date_release.dirty || productForm.controls.date_release.touched)">
        <span *ngIf="productForm.controls.date_release.getError('required')" class="text-red">Campo requerido</span>
        <span *ngIf="productForm.controls.date_release.getError('dateInvalid')" class="text-red">Fecha inválida</span>
      </ng-container>
    </div>

    <div class="input-field">
      <label for="productRevisionDate" class="nowrap">Fecha Revisión</label>
      <input id="productRevisionDate" class="reset-input" type="date" formControlName="date_revision" aria-required="true" />
      <ng-container *ngIf="productForm.controls.date_revision.invalid && (productForm.controls.date_revision.dirty || productForm.controls.date_revision.touched)">
        <span *ngIf="productForm.controls.date_revision.getError('required')" class="text-red">Campo requerido</span>
        <span *ngIf="productForm.controls.date_revision.getError('dateInvalid')" class="text-red">Fecha inválida</span>
      </ng-container>
    </div>

    <div class="row gap-1 mx-auto grid-col-span-2 w-90 space-around">
      <button type="button" (click)="productForm.reset()" class="reset-btn secondary-btn" aria-label="Reiniciar formulario">Reiniciar</button>
      <button type="submit" class="reset-btn primary-btn row items-center" aria-label="Enviar formulario">
        <ng-container *ngIf="sendingForm">
          <div class="spinner"></div>
        </ng-container>
        <div>{{ sendingForm ? 'Enviando...' : 'Enviar' }}</div>
      </button>
    </div>
  </form>
  
  <app-modal #modal></app-modal>
</div>