:root {
  --primary-color: #f5db44;
  --secondary-color: #ebecf2;
  --bg-color: #f5f6f9;
  --nav-bg-color: #ffffff;
  --content-bg-color: #ffffff;
  --primary-text-color: #464b51;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-color);
}

.content-bg-color {
  background-color: var(--content-bg-color);
}

.nav-bg-color {
  background-color: var(--nav-bg-color);
}

.bg-aliceblue {
  background-color: var(--bg-color);
}

.mt-1 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mx-3 {
  margin: 3rem;
}

.p-2 {
  padding: 2rem;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.btn {
  background: none;
  outline: none;
  border: none;
}

.reset-btn {
  padding: 1rem;
  transition: all 0.5s;
  border-radius: 0.25rem;
  background: none;
  outline: none;
  border: none;
  font-weight: bold;
}

.h-2 {
  height: 2rem;
  width: 2rem;
}

.nowrap {
  text-wrap-mode: nowrap;
}

.secondary-btn {
  background-color: var(--secondary-color);
  filter: brightness(0.9);
  color: var(--primary-text-color);

  &:hover {
    filter: brightness(1);
    transition: all 0.5s;
  }
}

.primary-btn {
  background-color: var(--primary-color);
  filter: brightness(0.9);
  color: var(--primary-text-color);

  &:hover {
    filter: brightness(1);
    transition: all 0.5s;
  }
}

.text-center {
  text-align: center;
}

.gap-1 {
  gap: 1rem;
}

.reset-input {
  padding: 0.5rem;
  outline: none;
  width: 12rem;
  border: none;
}

.grid {
  display: grid;

  &.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
  }

  &.grid-col-span-2 {
    grid-column: span 2;
  }
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    width: 50%;
  }

  input {
    border-radius: 0.25rem;
  }
}

.w-50vw {
  width: 50vw;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-red {
  color: red;
}

.items-center {
  align-items: center;
}

@media (max-width: 875px) {
  .grid-cols-2 {
    grid-template-columns: 1fr;
  }
  
  .grid-col-span-2 {
    grid-column: span 1;
  }
}